<!DOCTYPE html>
<html>
<head>
  <title>Movie Booking</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/css/lightbox.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox.js"></script> -->
</head>

<body>
  <div class="container-fluid">
      <% if notice %>
      <p class="alert alert-info" style="background-color: #F5F5F5; color: navy; border-color: navy;"><%= notice %></p>
      <% end %>
      <% if alert %>
      <p class="alert alert-info" style="background-color: #F5F5F5;  color: navy; border-color: navy;"><%= alert %></p>
      <% end %>

      <% if user_signed_in? %>
      <div class= "row">

        <div class="col-md-4">
          Logged in as <strong><%= current_user.email %></strong>.
        </div>

        <div class="col-md-2">
        </div>

        <div class="col-md-6" style="text-align: right">
          <div class="row">
            <div class="col-md-3">
              <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
            </div>

            <div class="col-md-3">
              <%= link_to "View Profile", homes_show_path%>
            </div>

            <div class="col-md-3">
              <%= link_to "View Bookings", bookings_index_path(:user_id => current_user.id)%>
            </div>

            <div class="col-md-3">
              <%= image_tag current_user.avatar.url(:small)%>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            </div>
          </div>
        </div>

      </div>
      <% else %>
      <div class= "row" >
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      </div>
      <% end %>
    <%= yield %>
  </div>
</body>
</html>
